* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
/* -------- Home --------- */
h1 {
    text-align: center;
    margin: 30px 0;
}
.content {
    max-width: 90%;
    margin: 0 auto;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 30px auto;
}
td, th {
    border: 1px solid #000;
    padding: 5px 20px;
    text-align: left;
}
tbody tr:hover {
    background-color: skyblue;
}
.btn-nuevo:hover,
.btn-nuevo {
    border-radius: 5px;
    background-color:seagreen;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 900;
}
.btn-editar a,
.btn-eliminar button,
.btn-editar a:hover,
.btn-eliminar button:hover {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.btn-editar {
    background-color: royalblue;
}
.btn-eliminar {
    background-color:rgb(231, 9, 9);
}
.none {
    margin: 40px 0;
    color: #777;
    font-size: 25px;
}
/* ----- Editar ------- */
h2,
.form-container {
    max-width: 40%;
    margin: 0 auto;
   
}
form {
    width: 90%;
    margin: 0 auto;
}
.form-container {
    background-color: #fff;
    padding: 20px; 
}
input[type="text"],
input[type="email"] {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.error {
    display: block;
    color: red;
}
h2,
input[type="radio"] {
    margin-bottom: 20px;
}
label {
    margin-right: 30px;
    margin-left: auto;
}
input[type="date"] {
    display: block;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
}
.btn-guardar,
.btn-cancelar:hover,
.btn-cancelar {
    color: #fff;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
}
.btn-guardar:hover {
    cursor: pointer;
}
.btn-guardar {
    background-color: seagreen;;
}
.btn-cancelar {
    background-color: royalblue;
}